@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400");
html {
  height: 100%; }

body {
  margin: 0;
  background: url("../img/bg.png") #f7f7f7 repeat;
  width: 100%;
  height: 100%; }

.wrapper {
  margin: 0 auto;
  width: 940px;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 450px;
      flex-direction: column; } }

.more {
  background: #53a665;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-transform: lowercase;
  padding: 0px 3px;
  font-size: 16px; }

header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Bree Serif', serif; }
  header .wrapper {
    align-items: center; }
    header .wrapper #site-name {
      font-size: 30px;
      text-transform: uppercase;
      margin-top: -6px; }
      header .wrapper #site-name:after {
        content: "*/";
        color: #53a665; }
    header .wrapper menu {
      margin: -6px 0 0 0;
      padding: 0;
      list-style: none; }
      header .wrapper menu li {
        display: inline-block; }
        header .wrapper menu li:after {
          content: " / "; }
        header .wrapper menu li:last-child:after {
          content: ""; }
        header .wrapper menu li a {
          font-size: 16px;
          text-transform: uppercase;
          color: #000;
          padding: 0 7px;
          text-decoration: none; }
          header .wrapper menu li a:hover {
            color: #808080; }
        header .wrapper menu li.active a {
          color: #53a665;
          position: relative; }
          header .wrapper menu li.active a:after {
            content: "▾";
            width: 100%;
            text-align: center;
            position: absolute;
            top: 12px;
            left: 0; }

article {
  margin-top: 26px;
  background: url("../img/bg2.png") repeat 0 0;
  height: 385px; }
  @media screen and (max-width: 1024px) {
    article {
      height: auto; } }
  @media screen and (max-width: 1024px) {
    article .wrapper {
      flex-direction: column-reverse; } }
  article .wrapper .left {
    padding-top: 15px;
    width: 40%; }
    @media screen and (max-width: 1024px) {
      article .wrapper .left {
        width: 100%;
        padding: 0; } }
  article .wrapper .right {
    padding-top: 75px; }
    @media screen and (max-width: 1024px) {
      article .wrapper .right {
        width: 100%;
        padding: 0; } }
  article .wrapper h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    color: #53a665;
    font-size: 24px;
    display: inline;
    line-height: 28px;
    position: relative;
    top: 5px; }
    article .wrapper h1 span {
      background: #ffffff; }
  article .wrapper p {
    padding: 0 2px;
    margin-top: 20px;
    line-height: 24px;
    font-size: 16px;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    position: relative; }
    article .wrapper p .more {
      position: absolute;
      right: -10px;
      bottom: -15px; }

#features {
  margin: 50px 0 52px 0; }
  #features .wrapper {
    align-items: baseline; }
    #features .wrapper .feature {
      width: 32%;
      color: #333333;
      text-align: center; }
      @media screen and (max-width: 1024px) {
        #features .wrapper .feature {
          width: 100%;
          margin-bottom: 25px; } }
      #features .wrapper .feature .ico {
        margin-bottom: 5px; }
      #features .wrapper .feature .title {
        line-height: 28px;
        font-size: 24px;
        font-family: 'Bree Serif', serif; }
        #features .wrapper .feature .title span {
          color: #53a665; }
      #features .wrapper .feature .text {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin-bottom: 5px; }

footer .wrapper {
  align-items: center;
  height: 40px;
  box-shadow: 0 -1px 0 #ccc;
  border-top: 1px solid #ffffff; }
  footer .wrapper .left {
    font-family: Verdana;
    color: #8a8a8a;
    font-size: 10px;
    margin-top: -15px;
    text-shadow: 0px 1px 0 #fff; }
    @media screen and (max-width: 1024px) {
      footer .wrapper .left {
        display: none; } }
  footer .wrapper .right .socials {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    footer .wrapper .right .socials li {
      margin: 0 4px;
      display: inline-block;
      width: 24px;
      height: 25px; }
      footer .wrapper .right .socials li.rss {
        background: url("../img/ico-rss.png"); }
      footer .wrapper .right .socials li.facebook {
        background: url("../img/ico-facebook.png"); }
      footer .wrapper .right .socials li.tweeter {
        background: url("../img/ico-tweeter.png"); }
