@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400');

$green: #53a665;
$white: #ffffff;

html {
  height: 100%;
}

body {
  margin: 0;
  background: url('../img/bg.png') #f7f7f7 repeat;
  width: 100%;
  height: 100%;
}

//img.px {
//  position: absolute;
//  opacity: 0.3;
//  z-index: 1;
//  left: 110px;
//}

.wrapper {
  margin: 0 auto;
  width: 940px;
  height: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    width: 450px;
    flex-direction: column;
  }
}

.more {
  background: $green;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  text-transform: lowercase;
  padding: 0px 3px;
  font-size: 16px;
}

header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Bree Serif', serif;

  .wrapper {
    align-items: center;

    #site-name {
      font-size: 30px;
      text-transform: uppercase;
      margin-top: -6px;

      &:after {
        content: "*/";
        color: $green;
      }
    }

    menu {
      margin: -6px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        &:after {
          content: " / ";
        }

        &:last-child {
          &:after {
            content: "";
          }
        }

        a {
          font-size: 16px;
          text-transform: uppercase;
          color: #000;
          padding: 0 7px;
          text-decoration: none;

          &:hover {
            color: #808080;
          }
        }

        &.active {
          a {
            color: $green;
            position: relative;

            &:after {
              content: "▾";
              width: 100%;
              text-align: center;
              position: absolute;
              top: 12px;
              left: 0;
            }
          }
        }
      }
    }
  }
}

article {
  margin-top: 26px;
  background: url('../img/bg2.png') repeat 0 0;
  height: 385px;

  @media screen and (max-width: 1024px) {
    height: auto;
  }

  .wrapper {
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .left {
      padding-top: 15px;
      width: 40%;

      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0;
      }
    }

    .right {
      padding-top: 75px;

      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0;
      }
    }

    h1 {
      font-family: 'Bree Serif', serif;
      font-weight: 300;
      color: $green;
      font-size: 24px;
      display: inline;
      line-height: 28px;
      position: relative;
      top: 5px;

      span {
        background: $white;
      }
    }

    p {
      padding: 0 2px;
      margin-top: 20px;
      line-height: 24px;
      font-size: 16px;
      background: $white;
      font-family: 'Open Sans', sans-serif;
      position: relative;

      .more {
        position: absolute;
        right: -10px;
        bottom: -15px;
      }
    }
  }
}

#features {
  margin: 50px 0 52px 0;
  .wrapper {
    align-items: baseline;

    .feature {
      width: 32%;
      color: #333333;
      text-align: center;

      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 25px;
      }

      .ico {
        margin-bottom: 5px;
      }

      .title {
        line-height: 28px;
        font-size: 24px;
        font-family: 'Bree Serif', serif;
        span {
          color: $green;
        }
      }

      .text {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }
}


footer {
  .wrapper {
    align-items: center;
    height: 40px;
    box-shadow: 0 -1px 0 #ccc;

    border-top: 1px solid $white;

    .left {
      font-family: Verdana;
      color: #8a8a8a;
      font-size: 10px;
      margin-top: -15px;
      text-shadow: 0px 1px 0 #fff;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .right {
      .socials {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          margin: 0 4px;
          display: inline-block;
          width: 24px;
          height: 25px;
          &.rss {
            background: url('../img/ico-rss.png');
          }

          &.facebook {
            background: url('../img/ico-facebook.png');
          }

          &.tweeter {
            background: url('../img/ico-tweeter.png');
          }
        }
      }
    }
  }
}
